MYSQL_DATABASE=millisfera_wp
MYSQL_USER=millisfera
MYSQL_PASSWORD=change_me_strong_password
MYSQL_ROOT_PASSWORD=change_me_root_password

WP_SITE_URL=https://millisfera.az
WP_PORT=8081

OPENWEATHER_API_KEY=your_openweather_api_key
